.box-wordpress-blog h2 {
font-size: 14px;
}
ul.box-wordpress-blog {
list-style-type: none;
margin: 0px;
padding: 0px;
overflow: visible;
}
ul.box-wordpress-blog:after {
clear: both;
line-height: 0;
content: "";
}
ul.box-wordpress-blog li {
padding: 10px 0px;
border-bottom: 1px dotted #212121;
}
ul.box-wordpress-blog li:last-child {
border-bottom: none;
}
ul.box-wordpress-blog li .article-title a {
font-size: 16px;
line-height: 1.3em;
}
ul.box-wordpress-blog li .article-author-section {
color: #999;
font-size: 14px;
line-height: 14px;
}
ul.box-wordpress-blog li span.article-date {
padding-left: 6px;
}
ul.box-wordpress-blog li .article-author-section {
color: #999;
}
ul.box-wordpress-blog li p {
font-size: 14px;
line-height: 25px;
}